/////////////////////////////////////////////////
//  Custom resets based on                     //
//  http://meyerweb.com/eric/tools/css/reset/  //
//  v2.0 | 20110126                            //
//  License: none (public domain)              //
/////////////////////////////////////////////////

// KEEP SELECTORS IN ALPHABETICAL ORDER
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
picture,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  hyphens: auto; // automatically add hyphens when breaking words
  margin: 0;
  overflow-wrap: break-word; // Prevent text from exceeding element boundaries
  padding: 0;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

:focus,
button:focus {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}
input,
select {
  vertical-align: middle;
}
html {
  // Stop the "bounce" or refresh effect you get on mobile browsers
  // when getting to the top or bottom scroll limits of the page.
  // Otherwise scrolling up in fullscreen modals could accidentally
  // reload the page.
  overscroll-behavior: none;
}
