// Media queries breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Base calors - In case they are changed in the future
$black: #000000;
$white: #ffffff;

// Custom colors
$text-primary: #404b5b;
$text-secondary: #666f7c;
$text-light: #c6c9ce;
$text-dark: #707b87;
$error: #ec8a95;
$blue-standard: #90cffc;
$blue-dark: #55abe8;
$garnet-standard: #9b0212;
$garnet-dark: #700e18;
$green-standard: #0e9638;
$green-dark: #166d31;
$grey-light: #f7f6fe;
$grey-standard: #8c939d;
$grey-dark: #6f757e;
$navy-blue-standard: #104072;
$navy-blue-dark: #153353;
$premium-standard: #c2a05b;
$premium-dark: #9c8048;
